<!DOCTYPE html>
<html lang="en">
@import helper._
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>New Category</title>
</head>
<body>
<div class="container" align="center">
    <form method="post" >
        @CSRF.formField
        Enter New Category <input class="rounded" type="text" name="category" id="category" maxlength="10">

        <input align="center" class="btn btn-primary" type="submit" value="Create">
    </form>
</div>
</body>
</html>