<!DOCTYPE html>
<html lang="en">
@import helper._
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Admin Page</title>
</head>
<body>
<div>
    <div class="container" align="center">
        @appnavbar.render("admin")
        <div class="jumbotron">
            <h2>Administration Page</h2>
            <div align="right">
                <form method="post" action="/signout">
                    @CSRF.formField
                    <input id="firstbutton" type="submit" value="Sign Out" onclick="disablefirstbutton">
                </form>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container" align="center">

    <div class="row" style="text-align:center;">

        <div class="col-md-4">
            <h2>Priority Database</h2>
            <p>
                View, Create, Edit or Delete Priorities
            </p>

            <p><a class="btn btn-primary btn-lg" href="priorities">Priority Database &raquo;</a></p>

        </div>

        <div class="col-md-4">
            <h2>Categories</h2>
            <p>
                View, Create, Edit or Delete Categories
            </p>

            <a class="btn btn-primary btn-lg" href="categories">Category Database &raquo;</a>

        </div>

        <div class="col-md-4">
            <h2>Tickets Database</h2>
            <p>
                View, Create, Edit or Delete Tickets
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="tickets">Tickets Database &raquo;</a>
            </p>
        </div>
    </div>

    <div class="row" style="text-align:center;">
        <div class="col-md-4">
            <h2>Location Database</h2>
            <p>
                View, Create, Edit or Delete Locations
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="locations">Location Database &raquo;</a>
            </p>
        </div>

        <div class="col-md-4">
            <h2>Regions Database</h2>
            <p>
                View, Create, Edit or Delete Regions
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="regions">Region Database &raquo;</a>
            </p>
        </div>


        <div class="col-md-4">
            <h2>Site User Database</h2>
            <p>
                View, Create, Edit or Delete Site Users
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="siteadmins">Site User Database &raquo;</a>
            </p>
        </div>
    </div>


    <div class="row" style="text-align:center;">
        <div class="col-md-4">
            <h2>Status</h2>
            <p>
                View, Create, Edit or Delete Status
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="ticketStatuses">Status Page &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Reports</h2>
            <p>
                View Auto Generated Chart Reports
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="reports">Reports Page &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Inventory</h2>
            <p>
                View, Create, Edit or Delete Inventory
            </p>

            <p>
                <a class="btn btn-primary btn-lg" href="inventories">Inventory Page &raquo;</a>
            </p>
        </div>
    </div>
</div>
</div>

</body>
</html>