<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Email Sent</title>
</head>
<body>
<div class="container" align="center">
    @appnavbar.render("forgotpassword")
    <div class="jumbotron">
        <h1>Email was sent. Check your email</h1>
        <br>
        <a class="btn btn-primary" href="/login">Back To Login</a>
    </div>
</div>
</body>
</html>