@(message:String,siteAdmins:List[SiteAdmin])
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Forgot Password</title>
</head>
<body>
<div class="container" align="center">
    @appnavbar.render("login")
    <div class="jumbotron">
        <h1>Forgot Password</h1>
    </div>
    <form class="form-control" method="post">
        @CSRF.formField
        <div class="row" align="center">
            <div class="col-md-12">
                <label>Email Address: &nbsp </label><input class="rounded" type="text" name="emailAddress" id="emailAddress"><br>

                <input type="submit" value=" Submit " class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
</body>
</html>