@(message:String)
<!DOCTYPE html>
<html lang="en">
@import helper._
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Login</title>
</head>
<body>
<div class="container" align="center">
    @appnavbar.render("login")
    <div class="jumbotron">
        <h1>Login Page</h1>

    </div>
    <form method="post" class="form-control">
        @CSRF.formField
        @message<br>
        <label>Username: &nbsp </label><input class="rounded" type="text" name="username" id="username"><br>
        <label>Password: &nbsp &nbsp </label><input class="rounded" type="password" name="password" id="password"><br>

        <input type="submit" value="Login" class="btn btn-primary"><br>
        <a href="/forgotpassword">Forgot Password</a>

    </form>
</div>

</body>

