@(message:String,siteAdmin:SiteAdmin)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Reset User Password</title>
</head>
<body>
<div class="container" align="center">
    @appnavbar.render("login")
    <div class="jumbotron">
        <h1>Reset Password</h1>
        <h1>@siteAdmin.getSiteAdminName</h1>
    </div>
    <form class="form-control" method="post">
        @CSRF.formField
        <div class="row" align="center">
            <div class="col-md-12">
            <label>New Password: &nbsp &nbsp &nbsp</label><input class="rounded" type="password" name="password" id="password"><br>
            <label>Confirm Password: &nbsp </label><input class="rounded" type="password" name="passwordMatch" id="passwordMatch"> @message <br>
                <input type="submit" value="Change Password" class="btn btn-primary">
        </div>
        </div>
    </form>
</div>
</body>
</html>