<!DOCTYPE html>
<html lang="en">
@import helper._
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>New Region</title>
</head>
<body>
<div class="container" align="center">
    @appnavbar.render("admin")
    <div class="jumbotron">
        <h1>Create new Region</h1>
        <div align="right">
            <form method="post" action="/signout">
                @CSRF.formField
                <input  type="submit" value="Sign Out" >
            </form>
        </div>
    </div>
    <form method="post" class="form-control">
        @CSRF.formField
        <div>
            <b> Enter New Region </b><input class="rounded" type="text" name="region" id="region" maxlength="30" size="30">
        </div>
        <br>
        <br>
        <div>
            <input class="btn btn-primary" type="submit" value="Create">
            <a class="btn btn-primary" href="/regions">Back to List</a>
        </div>
    </form>
</div>
</body>
</html>