@(regions:List[Region],searchCriteria:String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Regions</title>
</head>
<body>

<div class="container" align="center">
    @appnavbar.render("admin")
    <div class="jumbotron">
    <h1><b>Regions</b></h1>
    </div>

    <form class="form-control" method="get">
        <input class="rounded" type="text" name="searchCriteria" value="@searchCriteria">
        <input class="btn btn-primary" type="submit" value="Search">
        <div align="left">
            <a class="btn btn-primary" href="newregion">Create New</a>
        </div>
    </form>


    <table class="table table-bordered" >
        <tr>
            <th><b>Region Name</b></th>

        </tr>
        @for(region <- regions){
        <tr>
            <td>
                <div>
                    <b> @region.getRegionName() </b>
                </div>
            </td>
            <td>
                <a class="btn btn-primary" href="region/@region.getRegionId()"> Edit </a>
            </td>

        </tr>
        }
    </table>
</div>

</body>
</html>