@(region:Region)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Regions</title>
</head>
<body>

<div class="container" align="center">
    @appnavbar.render("admin")
    <div class="jumbotron">
        <h1>@region.getRegionName()</h1>
    </div>

        <form method="post" class="form-control" align="center">
            @CSRF.formField
            <b> Region Name: </b><input  class="rounded" type="text" name="regionName" id="regionName"
                                           value="@region.getRegionName" minlength="1"
                                           maxlength="30" size="30">
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="save">
            <a href="/regions">Back to List</a>
        </form>
</div>
</div>
<br>
<hr>
<br>
<br>
<div class="container" align="center">
    <form action="/deleteregion/@region.getRegionId" method="POST">
        @CSRF.formField
        <input type="submit" value="Delete">
    </form>
</div>
</body>
</html>