<!DOCTYPE html>
<html lang="en">
@import helper._
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>New Priority</title>
</head>
<body>
<div class="container" align="center">
    @appnavbar.render("priority")
    <div class="jumbotron">
        <h1>Create New Priority</h1>
    </div>

    <br>
    <form method="post" class="form-control">
        @CSRF.formField
    <b>Enter New Priority</b> <input class="rounded" type="text" name="priority" id="priority" maxlength="20">

        <input class="btn btn-primary" type="submit" value="Create">
    </form>
</div>
</body>
</html>