@(priorities:List[Priority],message:String)
<!DOCTYPE html>
<html lang="en">
@import helper._
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <title>New Priority</title>
</head>
<body>
<div class="container" align="center">
    @adminnavbar.render("admin")
    <div class="jumbotron">
        <h1>Create New Priority</h1>
    </div>

    <br>
    @message
    <form method="post" class="form-control">
        @CSRF.formField
    <b>Priority Name: </b> <input class="rounded" type="text" name="priority" id="priority" maxlength="30" size="30">
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Create">
        <a class="btn btn-primary" href="/priorities">Back to List</a>
    </form>
</div>
@footer()
</body>
</html>