@(priorities:List[Priority],searchCriteria:String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Priorities</title>
</head>
<body>
<div class="container" align="center">
    @appnavbar.render("priority")
    <div class="container" align="center">
    <div class="jumbotron">
    <h1><b>Priorities</b></h1>
    </div>

    <form class="form-control" method="get">
        <input class="rounded" type="text" name="searchCriteria" value="@searchCriteria">
        <input class="btn btn-primary" type="submit" value="Search">
<div>
        <a href="newpriority">Create New</a>
</div>
    </form>


    <table class="table table-bordered" >
        <tr>
            <th><b>Priority Name</b></th>

        </tr>
        @for(priority <- priorities){
        <tr>
            <td>
                <div>
                    <b> @priority.getPriorityName() </b>
                </div>
            </td>
            <td>
                <a> Details </a>
            </td>
            <td>
                <a href="priority/@priority.getPriorityId()"> Edit </a>
            </td>

        </tr>
        }
    </table>
    </div>
</div>


</body>
</html>