<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <title>Contact</title>
</head>
<body>
<div class="container" align="center">
    @if(session().isEmpty()){
    @appnavbar.render("/")
    }else{
    @adminnavbar.render("/")
    }
    <div class="jumbotron" >
        <h1>Help Desk Information</h1>
    </div>
    &nbsp

    <div class=" col-md-6 form-control" align="center">
       <address>
           <label><b>Some Company</b></label><br />
           <label>1000 Some Street</label><br />
           <label>Little Rock 72205</label><br />
       </address>
        <abbr>P:</abbr>
        <label>501-555-5252</label><br>
        <strong>Email:</strong>&nbsp<a href="mailto:sample.email@@domain.com">sample.email@@domain.com</a><br/>
        <label>Or</label><br>
        <a class="btn btn-primary"
           href="/newcustomerticket" target="_blank">&DoubleRightArrow; Create New Ticket &DoubleLeftArrow;</a>
    </div>

    <br>
</div>
@footer()
</body>
</html>