<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <title>Welcome</title>
</head>
<body>

<div class="container" align="center">
    @appnavbar.render("/")
    <div class="jumbotron">
        <h1>Welcome to Help Desk!</h1>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4 form-control" align="center">
                <label><b>How to Take a Screenshot In Windows</b></label>
                <a class="btn btn-primary"
                   href="https://support.microsoft.com/en-us/help/4027213/windows-10-open-snipping-tool-and-take-a-screenshot"
                   target="_blank">&DoubleRightArrow; Click Here &DoubleLeftArrow;</a>
                <label><b>Then Save and Attach to a Help Desk Ticket or Email</b></label>
            </div>

            <div class="col-md-4 form-control" align="center">
                <label><b>How to Change Password Before it Expires.</b></label>
                <a class="btn btn-primary"
                   href="https://support.microsoft.com/en-us/help/14087/windows-7-change-your-windows-password"
                   target="_blank">&DoubleRightArrow; Click Here &DoubleLeftArrow;</a>
                <label><b>If Your Account Has Expired, Contact Help Desk to Reset</b></label>
            </div>
            <div class="col-md-4 form-control" align="center">
                <label><b>Having Problems With Your Computer?</b></label>

                <a class="btn btn-primary"
                   href="customerticket" target="_blank">&DoubleRightArrow; Create New Ticket &DoubleLeftArrow;</a>

                <label><b>A Friendly Help Desk Representative Will be Notified</b></label>
            </div>
        </div>
    </div>
    &nbsp
    <div class="row">
    <div class=" col-md-6 form-control" >
        <h3 align="center"><b>Features Included in Demo:</b></h3>
        <div align="center">

            Ticket Management<br>
            Inventory Management<br>
            Automatic Bar Chart Reports<br>
            Ticket List Filtering combo box<br>
            Mostly Accurate Field Validation<br>
            Customer Create Ticket for Intranet Use<br>
            User Login with "User" or "Admin" Access<br>
            Limited Employee Profile Management by "User"<br>
            Complete Employee Profile Management by "Admin"<br>
            Separate Nav Bar Based on Access Logged in or Not<br>
            Cannot Delete Items Having Foreign Key Assigned Elsewhere<br>
            Basic Email to "HelpDesk" When a Ticket Is Created by Customer<br>
            Basic Email to Customer When a Ticket is Updated by a Site User<br>

        </div>
    </div>
    <div class=" col-md-6 form-control" >
        <h3 align="center"><b>Features to Add After Demo:</b></h3>
        <div align="center">
            Tech Notes<br>
            Custom Reports<br>
            Finish Identical Program in C#<br>
            Inventory List Filtering Drop Downs<br>
            Active Directory Integration Possible<br>
            Add User Registration with "User" Access<br>
            Status Changed Tracking, Tickets and Inventory<br>
            Printing and Export Function for Custom Reports<br>
            Make Inventory Searchable for Tickets Computer Name/Asset Tag<br>
            Custom Email to "HelpDesk" When a Ticket Is Created by Customer<br>
            Custom Email to Customer When a Ticket is Updated by a Site User<br>
            Put roles into separate Table as User, HelpDesk, Technician, Admin<br>
            Separate Nav Bar Based on Access User, HelpDesk, Technician, Admin<br>

        </div>
    </div>
    </div>
    <br>
</div>
</div>
@footer()
</body>

</html>