@(regions:List[Region],locations:List[Location])
<!DOCTYPE html>
<html lang="en">
@import helper._
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>New Site Admin</title>
</head>
<body>

    @appnavbar.render("siteadmins")
    <div class="container" align="center">
    <div class="jumbotron">
        <h1>Create New Site Admin</h1>
    </div>


    <form method="post" class="form-control">

        @CSRF.formField
        <div class="row">
            <div class="col-md-5">
                <b>Site Admin Name: </b> <input class="rounded" type="text" name="siteAdmin" id="siteAdmin"
                                                      maxlength="30">
            </div>
            <div class="col-md-5">
                <b>Email Address: </b><input class="rounded" type="text" name="emailAddress" id="emailAddress"
                                                   maxlength="30">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-5">
                <b>PhoneNumber: </b><input class="rounded" type="text" name="phoneNumber" id="phoneNumber"
                                                 maxlength="30">
            </div>
            <div class="col-md-5">
                <b>Site Admin Role: </b><input class="rounded" type="text" name="role" id="role" maxlength="30">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-5">
                <b>Location: </b>
                <select class="rounded" name="locationId" id="locationId">
                    <option>Choose Location</option>
                    @for(location<-locations){

                    <option value="@location.getLocationId">
                        @location.getLocationName
                    </option>
                    }
                </select>
            </div>
            <div class="col-md-5">
                <b>Region: </b>
                <select class="rounded" name="regionId" id="regionId">
                    <option>Choose Region</option>
                    @for(region<-regions){

                    <option value="@region.getRegionId">
                        @region.getRegionName
                    </option>
                    }
                </select>
            </div>
        </div>
        <br>
        <div>
            <input class="btn btn-primary" type="submit" value="Create">
            <a href="/siteadmins">Back to List</a>
        </div>
    </form>
</div>
</body>
</html>