<!DOCTYPE html>
<html lang="en">
@import helper._
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>New Site Admin</title>
</head>
<body>
<div class="container">
    <form method="post">
        @CSRF.formField
        Enter New Site Admin <input class="rounded" type="text" name="siteAdmin" id="siteAdmin" maxlength="30">
        Enter New Site Admin <input class="rounded" type="text" name="emailAddress" id="emailAddress" maxlength="30">
        Enter New Site Admin <input class="rounded" type="text" name="phoneNumber" id="phoneNumber" maxlength="30">
        Enter New Site Admin <input class="rounded" type="text" name="role" id="role" maxlength="30">

        <select class="rounded" name="locationId" id="locationId">
            @for(location<-locations){
            @if(location.getLocationId==inventory.getLocationId){
            <option selected="selected" value="@location.getLocationId">
                @location.getLocationName
            </option>
            }else{

            <option value="@location.getLocationId" >
                @location.getLocationName
            </option>
            }
            }
        </select>
        <b> Enter Current User: </b><input class="rounded" type="text" name="currentUser"
                                           id="currentUser" maxlength="30" size="30">
        <b> Enter Building Location: </b><input class="rounded" type="text" name="buildingLocation"
                                                id="buildingLocation" maxlength="30" size="30">
        <select class="rounded" name="regionId" id="regionId">
            @for(region<-regions){
            @if(region.getRegionId==inventory.getRegionId){
            <option selected="selected" value="@region.getRegionId">
                @region.getRegionName
            </option>
            }else{

            <option value="@region.getRegionId" >
                @region.getRegionName
            </option>
            }
            }
        </select>
        <input class="btn btn-primary" type="submit" value="Create">
    </form>
</div>
</body>
</html>