@(regions:List[Region],locations:List[Location],message:String)
<!DOCTYPE html>
<html lang="en">
@import helper._
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>New Site Admin</title>
</head>
<body>

@appnavbar.render("admin")
<div class="container" align="center">
    <div class="jumbotron">
        <h1>Create New Site Admin</h1>
        <div align="right">
            <form method="post" action="/signout">
                @CSRF.formField
                <input  type="submit" value="Sign Out" >
            </form>
        </div>
    </div>


    <form method="post" class="form-control">
        @message
        <br>
        @CSRF.formField
        <div class="row">
            <div class="col-md-6">
                <b>* Name: </b><br>
                <input class="rounded" type="text" name="siteAdmin" id="siteAdmin"
                                                maxlength="30" size="30">
            </div>
            <div class="col-md-6">
                <b>* Email Address: </b><br>
                <input class="rounded" type="text" name="emailAddress" id="emailAddress"
                                             maxlength="30" size="30">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <b>* PhoneNumber: </b><br>
                <input class="rounded" type="text" name="phoneNumber" id="phoneNumber"
                                           maxlength="30" size="30">
            </div>
            <div class="col-md-6">
                <b>* Role: </b><br>
                <input class="rounded" type="text" name="role" id="role" maxlength="30"
                                               size="30">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <b>* Username: </b><br>
                <input class="rounded" type="text" name="username" id="username"
                                         minlength="1"
                                         maxlength="30" size="30">
            </div>
            <div class="col-md-6">
                <b>* Password: </b><br>
                <input class="rounded" type="password" name="password" id="password"
                                         minlength="1"
                                         maxlength="30" size="30">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <b>* Location: </b><br>
                <select class="rounded" name="locationId" id="locationId">
                    <option value="0">Choose Location</option>
                    @for(location<-locations){

                    <option value="@location.getLocationId">
                        @location.getLocationName
                    </option>
                    }
                </select>
            </div>


        </div>
        <br>
        <div>
            <input class="btn btn-primary" type="submit" value="Create">
            <a class="btn btn-primary" href="/siteadmins">Back to List</a>
        </div>
    </form>
</div>
</body>
</html>