@(siteAdmin:SiteAdmin,locations:List[Location],regions:List[Region],message:String)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Site Admins</title>
</head>
<body>

<div class="container" align="center">
    @appnavbar.render("admin")
    <div class="jumbotron" align="center">
        <h1>@siteAdmin.getSiteAdminName()'s Profile</h1>
        <div align="right">

            <form method="post" action="/signout">
                @CSRF.formField
                <input  type="submit" value="Sign Out" >
            </form>
        </div>
        <h6>Do not make edits unless neccessary!</h6>
        <input class="rounded" type="hidden" name="siteAdminId" id="siteAdminId"
               value="@siteAdmin.getSiteAdminId" minlength="1"
               maxlength="30" size="30">
    </div>
    <form method="post" class="form-control" align="center" enctype="multipart/form-data">
        @message
        @CSRF.formField
        <div class="row">
            <div class="col-md-5">
                <b>* Admin Name: </b><input class="rounded" type="text" name="siteAdminName" id="siteAdminName"
                                                value="@siteAdmin.getSiteAdminName" minlength="1"
                                                maxlength="30" size="30">
            </div>
            <div class="col-md-5">
                <b>* Email Address: </b><input class="rounded" type="text" name="emailAddress" id="emailAddress"
                                              value="@siteAdmin.getEmailAddress" minlength="1"
                                              maxlength="30" size="30">
            </div>
        </div>
        <br>
        <div class="row" align="center">

            <div class="col-md-5">
                @if(!siteAdmin.getSiteRole.equals("Admin")){
                <b>*  Role: </b><label>@siteAdmin.getSiteRole</label>
                }else{
                <b>*  Role: </b><input class="rounded" type="text" name="siteRole" id="siteRole"
                                                                value="@siteAdmin.getSiteRole" minlength="1"
                                                                maxlength="30" size="30">
                }

            </div>
            <div class="col-md-5">
                <b>* Phone Number: </b><input class="rounded" type="text" name="phoneNumber" id="phoneNumber"
                                             value="@siteAdmin.getPhoneNumber" minlength="1"
                                             maxlength="30" size="30">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-5">
                @if(!siteAdmin.getSiteRole.equals("Admin")){
                <b>* Username: </b><label>@siteAdmin.getUsername</label>

                }else{
                <b>* Username: </b><input class="rounded" type="text" name="username" id="username"
                                         value="@siteAdmin.getUsername" minlength="1"
                                         maxlength="30" size="30" hidden="hidden">
                }
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-5">
                <b>* Location: </b>
                <select name="locationId" id="locationId">
                    @for(location <- locations){
                    <option value="@location.getLocationId">
                        @location.getLocationName
                    </option>
                    }

                </select>

            </div>
            <div class="col-md-5">
                <b>* Region: </b><select>
                @for(region <- regions){
                <option value="@region.getRegionId">
                    @region.getRegionName
                </option>
                }
            </select>

            </div>
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="save">
        <a class="btn btn-primary" href="/newpassword/@siteAdmin.getSiteAdminId">Reset Password</a>
        <a class="btn btn-primary"  href="/siteadmins">Back to List</a>
    </form>
</div>

<br>
<hr>
<br>

<div class="container" align="center">
    <form action="/deletesiteadmin/@siteAdmin.getSiteAdminId" method="POST">
        @CSRF.formField
        <input class="btn btn-primary" type="submit" value="Delete" >

    </form>
</div>

</body>
</html>