@(siteAdmins:List[SiteAdmin],searchCriteria:String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Site Admins</title>
</head>
<body>
<div class="container" align="center">
    @appnavbar.render("admin")
    <div class="jumbotron">
    <h1><b>Site Admins</b></h1>
    </div>

    <form class="form-control" method="get">
        <input class="rounded" type="text" name="searchCriteria" value="@searchCriteria">
        <input class="btn btn-primary" type="submit" value="Search">
        <br>
        <div>
            <a href="newsiteadmin">Create New </a>
        </div>
    </form>


    <table class="table table-bordered" >
        <tr>
            <th><b>Site Admin Name</b></th>

        </tr>

        @for(siteAdmin <- siteAdmins){
        <tr>
            <td>
                <div>
                    <b> @siteAdmin.getSiteAdminName() </b>
                </div>
            </td>
            <td>
                <div>
                    <b> @siteAdmin.getEmailAddress() </b>
                </div>
            </td>
            <td>
                <a href="siteadmin/@siteAdmin.getSiteAdminId()"> Edit </a>
            </td>

        </tr>
        }
    </table>

</div>

</body>
</html>