@(siteAdmins:List[SiteAdmin],searchCriteria:String,locations:List[Location])
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Site Admins</title>
</head>
<body>
<div class="container" align="center">
    @appnavbar.render("admin")
    <div class="jumbotron">
    <h1><b>Site Admins</b></h1>
        <div align="right">
            <form method="post" action="/signout">
                @CSRF.formField
                <input  type="submit" value="Sign Out" class="btn btn-danger">
                <div align="left">
                    <a class="btn btn-primary"  href="newsiteadmin">Create New </a>
                </div>
            </form>
        </div>
    </div>

    <form class="form-control" method="get">
        <input class="rounded" type="text" name="searchCriteria" value="@searchCriteria">
        <input class="btn btn-secondary" type="submit" value="Search">
        <br>

    </form>


    <table class="table table-bordered" >
        <tr>
            <th><b>Site Admin Name</b></th>
            <th><b>Email Address</b></th>
        </tr>

        @for(siteAdmin <- siteAdmins){
        <tr>
            <td>
                <div>
                    <img src="../siteadminpicture/@siteAdmin.getSiteAdminId" width="50" height="50">
                </div>
            </td>
            <td>
                <div>
                    <b> @siteAdmin.getSiteAdminName() </b>
                </div>
            </td>
            <td>
                <div>
                    <b> @siteAdmin.getEmailAddress() </b>
                </div>
            </td>
            <td>
                <div>
                    @for(location<-locations){
                    @if(siteAdmin.getLocationId==location.getLocationId){
                    <b> @location.getLocationName() </b>
                    }
                    }
                </div>
            </td>
            <td>
                <a class="btn btn-secondary" href="siteadmin/@siteAdmin.getSiteAdminId()"> Edit </a>
            </td>

        </tr>
        }
    </table>

</div>

</body>
</html>