@(siteAdmin:SiteAdmin,locations:List[Location],regions:List[Region],message:String)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <title>Admin Edit</title>
</head>
<body class="body1">
<div class="container" align="center">
    @adminnavbar.render("admin")
    <div class="jumbotron1" align="center">
        <div class="container" align="left">
            <div class="row">
                <div class="col-md-1" align="left">
                    <form action="/deletesiteadmin/@siteAdmin.getSiteAdminId" method="POST">
                        @CSRF.formField
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
            <div class="container" align="center">
                <h1>@siteAdmin.getSiteAdminName()'s Profile</h1>
                <div>
                    @if(siteAdmin.getPicture == null){
                    <img src="/assets/images/download18.jpg" height="100">
                    }else{
                    <img src="../siteadminpicture/@siteAdmin.getSiteAdminId" height="200">
                    }
                    <br>
                    <form method="post" enctype="multipart/form-data"
                          action="/siteadminpicture/@siteAdmin.getSiteAdminId">
                        @CSRF.formField
                        <input class="btn" type="file" id="file" name="file">
                        <br>
                        <br>
                        <input class="btn btn-sedondary" type="submit" value="Change Photo">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col=md-1" align="left">
                    <form method="post" action="/signout">
                        @CSRF.formField
                        <input type="submit" value="Sign Out" class="btn btn-danger">
                    </form>
                </div>

                <div class="col-md-1" align="left">
                    <a class="btn btn-primary" href="/newpassword/@siteAdmin.getSiteAdminId">Reset Password</a>
                </div>
            </div>
            <div align="right"></div>
            <input class="rounded" type="hidden" name="siteAdminId" id="siteAdminId"
                   value="@siteAdmin.getSiteAdminId" minlength="1"
                   maxlength="30" size="30">
        </div>
    </div>
    <form method="post" class="form-control" enctype="multipart/form-data">
        @if(siteAdmin.getSiteRole.equals("Admin")){
        @message}else{}
        <br>
        @CSRF.formField
        <div class="row">
            <div class="col-md-6">

                <b>* Name: </b><br>
                <input class="rounded" type="text" name="siteAdminName" id="siteAdminName"
                       value="@siteAdmin.getSiteAdminName" minlength="1"
                       maxlength="30" size="30">
            </div>
            <div class="col-md-6">
                <b>* Email Address: </b><br>
                <input class="rounded" type="text" name="emailAddress" id="emailAddress"
                       value="@siteAdmin.getEmailAddress" minlength="1"
                       maxlength="30" size="30">
            </div>
        </div>
        <br>
        <div class="row" align="center">
            <div class="col-md-6">
                <b>* Role: </b><br>
                <input class="rounded" type="text" name="siteRole" id="siteRole"
                       value="@siteAdmin.getSiteRole" minlength="1"
                       maxlength="30" size="30">
            </div>
            <div class="col-md-6">
                <b>* Phone Number: </b><br>
                <input class="rounded" type="text" name="phoneNumber" id="phoneNumber"
                       value="@siteAdmin.getPhoneNumber" minlength="1"
                       maxlength="30" size="30">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <b>* Username: </b><br>
                <input class="rounded" type="text" name="username" id="username"
                       value="@siteAdmin.getUsername" minlength="1"
                       maxlength="30" size="30">
            </div>
            <div class="col-md-6">
                <b>* Location: </b><br>
                <select name="locationId" id="locationId">
                    @for(location <- locations){
                    <option value="@location.getLocationId">
                        @location.getLocationName
                    </option>
                    }

                </select>
            </div>
        </div>
        <br>
        <br>
        <div>
            <input class="btn btn-primary" type="submit" value="Save Changes">
            <a class="btn btn-primary" href="/siteadmins">Back to List</a>
        </div>

    </form>
</div>

<br>
<hr>
<br>


</body>
</html>

