<!DOCTYPE html>
<html lang="en">
@import helper._
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>New Ticket</title>
</head>
<body>
<div class="container" align="center">
    @appnavbar.render("tickets")
    <div class="jumbotron">
        <h1>Create New Ticket</h1>
    </div>
    put each in a div and align center?? add fields
    <form class="form-control" method="post">
        <br>
        @CSRF.formField
        <br>
        <div class="row">
            <div class="col-md-6">
                <b> User's Name: </b>
                <input class="rounded" type="text" name="name" id="name" maxlength="10">
                 </div>
            <div class="col-md-6">
                <b> Asset Tag Number: </b>
                <input class="rounded" type="text" name="assetTagNumber"
                       id="assetTagNumber" maxlength="10">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <b> Computer Name: </b>
                <input class="rounded" type="text" name="computerName"
                       id="computerName" maxlength="10">
            </div>
            <div class="col-md-6">
                <b> Assigned To: </b>
                <select>

                </select>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-6">
                <b> Current Location: </b>
                <select>

                </select>

            </div>
            <div class="col-md-6">
                <b> Current Region:</b>
                <select>

                </select>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <b> Category: </b>
                <select>

                </select>

            </div>
            <div class="col-md-6">
                <b>Priority: </b>
                <select>

                </select>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <b> Phone Number: </b>
                <input class="rounded" type="text" name="phoneNumber" id="phoneNumber" maxlength="10">
            </div>
            <div class="col-md-6">
                <b> Email Address: </b>
                <input class="rounded" type="text" name="emailAddres" id="emailAddress" maxlength="10">
            </div>
        </div>
        <br>
        <br>
        <div class=container">
            <b> Subject: </b>
            <input class="rounded" type="text" name="subject" id="subject" maxlength="10">
        </div>
        <br>
        <div>
            <label><b>Description:</b></label>
            <br>
            <textarea class="rounded" type="text" name="description" cols="100" rows="10"
                      id="description" maxlength="255">

            </textarea>
            <br>
            <label>255 Characters Allowed</label>
            <br>
            <br>
            <input class="rounded" type="file" multiple="multiple">
            <input class="rounded" type="file" multiple="multiple">
            <input class="rounded" type="file" multiple="multiple">

        </div>
        <br>
        <div>
            <input class="btn btn-primary" type="submit" value="Submit Ticket">
            <a href="/tickets">Back to List</a>
        </div>
        <br>
        <br>
    </form>
</div>
</body>
</html>