@(tickets:List[Ticket],searchCriteria:String,locations:List[Location],ticketStatuses:List[TicketStatus],siteAdmins:List[SiteAdmin],priorities:List[Priority],categories:List[Category])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Tickets</title>
</head>
<body>

<div class="container" align="center">
    @appnavbar.render("tickets")
    <div class="jumbotron">
        <h1>Ticket List</h1>
        <div align="left">
            <a class="btn btn-primary" href="newticket"> Create New Ticket </a>
        </div>
    </div>
    <form class="form-control" method="get">
        <br>
        <div>
            <input class="rounded" type="text" name="searchCriteria" value="@searchCriteria"
                   placeholder="Search Any List Value" size="20">
            <input class="btn btn-primary" type="submit" value="Search">
            <a class="btn btn-primary" href="/tickets"> Clear Search </a>
        </div>
       <br>
    </form>

    <table class="table table-light">
        <tr>
            <th>Ticket#</th>
            <th>Date Modified</th>
            <th>Priority</th>
            <th>Name</th>
            <th>Assigned To</th>
            <th>Subject</th>
            <th>Location</th>
            <th>Status</th>
            <th>&nbsp;</th>
        </tr>
        <tbody>
        @for(ticket<-tickets){
        <tr>
            <td>
                <div>
                    @ticket.getTicketsId()
                </div>
            </td>
            <td>
                <div>
                    @ticket.getStatusDateChanged()
                </div>
            </td>
            <td>
                <div>
                    @for(priority<-priorities){
                    @if(priority.getPriorityId==ticket.getPriorityId){
                    @priority.getPriorityName()
                    }
                    }
                </div>
            </td>
            <td>
                <div>
                    @ticket.getName()
                </div>
            </td>
            <td>
                <div>
                    @for(siteAdmin<-siteAdmins){
                    @if(siteAdmin.getSiteAdminId==ticket.getSiteAdminId){
                    @siteAdmin.getSiteAdminName()
                    }
                    }
                </div>
            </td>
            <td>
                <div>
                    @ticket.getSubjectTitle()
                </div>
            </td>
            <td>
                <div>
                    @for(location<-locations){
                    @if(location.getLocationId==ticket.getLocationId){
                    @location.getLocationName()
                    }
                    }


                </div>
            </td>
            <td>
                <div>
                    @for(ticketStatus<-ticketStatuses){
                    @if(ticketStatus.getStatusId==ticket.getStatusId){
                    @ticketStatus.getStatusName()
                    }
                    }
                </div>
            </td>
            <td>
                <a class="btn btn-primary" href="ticket/@ticket.getTicketsId()"> Details </a>
            </td>
        </tr>
        }
        </tbody>
    </table>
    <br>
</div>

</body>

</html>