@(ticket:Ticket,locations:List[Location],ticketStatuses:List[TicketStatus],siteAdmins:List[SiteAdmin],priorities:List[Priority],categories:List[Category],regions:List[Region],replies:List[Reply],fileDetails:List[FileDetails])
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Ticket @ticket.getTicketsId Detail</title>
</head>
<body>

<div class="container" align="center">
    @appnavbar.render("tickets")
    <div class="jumbotron">
        <h3>Ticket #: @ticket.getTicketsId</h3>
        <h3>Status: @for(ticketStatus<-ticketStatuses){
            @if(ticketStatus.getStatusId == ticket.getStatusId){
            @ticketStatus.getStatusName() }}</h3>
        <h3>Date: @ticket.getStatusDateChanged</h3>
        <h3>Category: @for(category<-categories){
            @if(category.getCategoryId == ticket.getCategoryId){
            @category.getCategoryName() }}</h3>
        <h3>Priority: @for(priority<-priorities){
            @if(priority.getPriorityId == ticket.getPriorityId){
            @priority.getPriorityName() }}</h3>
        <h3>Subject: @ticket.getSubjectTitle</h3>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <b> Computer Name: </b><label>@ticket.getComputerName</label>
        </div>
        <div class="col-md-6">
            <b> Asset Tag Number: </b><label>@ticket.getAssetTagNumber</label>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <b> User's Name: </b><label>@ticket.getName</label>
        </div>
        <div class="col-md-6">
            <b> Assigned To: </b>
            <label>
                @for(siteAdmin<-siteAdmins){
                @if(siteAdmin.getSiteAdminId == ticket.getSiteAdminId){
                @siteAdmin.getSiteAdminName() }}
            </label>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-6">
            <b> Current Location: </b>
            <label>
                @for(location<-locations){
                @if(location.getLocationId == ticket.getLocationId){
                @location.getLocationName() } }
            </label>

        </div>
        <div class="col-md-6">
            <b> Current Region:</b>
            <label>
                @for(location<-locations){
                @if(ticket.getLocationId == location.getLocationId){
                @for(region<-regions){
                @if(location.getRegionId == region.getRegionId){
                @region.getRegionName() }}}}
            </label>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <b> Phone Number: </b><label>@ticket.getPhoneNumber</label>
        </div>
        <div class="col-md-6">
            <b> Email Address: </b><label>@ticket.getEmailAddress</label>
        </div>
    </div>
    <br>


    <br>
    <div class="container">
        <div>
        <b> Description: </b><label>@ticket.getDescription</label>
        </div>
        <br>
        <div class="container" align="center">
            <div align="center">
                @for(fileDetail<-fileDetails){
                @if(fileDetail.getTicketId == ticket.getTicketsId){

                <table class="table table-bordered">
                    <td>
                        <a href="../files/@fileDetail.getFileDetailId"> Download File </a>
                    </td>
                </table>
                }}
            </div>
        </div>
        <br>
        <div align="center">
            @for(reply<-replies){
            @if(reply.getTicketsId == ticket.getTicketsId){

            <table class="table table-bordered">
                <td>
                    <b> Reply: </b>
            @reply.getReply()
                </td>
           </table>
            }}
        </div>
    </div>
    <br>

    <form method="post" class="form-control" align="center" enctype="multipart/form-data">
        @CSRF.formField
        <div class="row" align="center">

            <div class="col-md-4">
                <b> Change Assignee?: </b><br>
                <select class="rounded" name="siteAdminId" id="siteAdminId">
                    <option value="@ticket.getSiteAdminId">Choose Assignee</option>
                    @for(siteAdmin<-siteAdmins){

                    <option value="@siteAdmin.getSiteAdminId">
                        @siteAdmin.getSiteAdminName
                    </option>
                    }

                </select>
            </div>

            <div class="col-md-4">
                <b> Change Priority?: </b><br>
                <select class="rounded" name="priorityId" id="priorityId">
                    <option value="@ticket.getPriorityId">Choose Priority</option>
                    @for(priority<-priorities){

                    <option value="@priority.getPriorityId">
                        @priority.getPriorityName
                    </option>
                    }

                </select>
            </div>
            <div class="col-md-4">
                <b> Change Status?: </b><br>
                <select class="rounded" name="statusId" id="statusId">
                    <option value="@ticket.getStatusId">Choose Status</option>
                    @for(ticketStatus<-ticketStatuses){

                    <option value="@ticketStatus.getStatusId">
                        @ticketStatus.getStatusName
                    </option>
                    }

                </select>
            </div>

        </div>
        <br>
        <div>
            <label><b>Reply:</b></label>
            <br>
            <textarea class="rounded"  name="reply" cols="100" rows="10" id="reply" maxlength="255" placeholder=""></textarea>
            <br>
            <label>255 Characters Allowed</label>
            <br>
            <br>
            <input class="rounded" type="file" id="file1" name="file1" multiple="multiple">
            <input class="rounded" type="file" id="file2" name="file2" multiple="multiple">
            <input class="rounded" type="file" id="file3" name="file3" multiple="multiple">

        </div>
        <br>
        <div>
            <input class="btn btn-primary" type="submit" value="save">
            <a href="/tickets">Back to List</a>
        </div>

    </form>

</div>
<br>
<hr>
<br>
<br>
<div class="container" align="center">
    <form action="/deleteticket/@ticket.getTicketsId" method="POST">
        @CSRF.formField
        <input type="submit" value="Delete Ticket">
    </form>
</div>

<br>
</body>

</html>