@(tickets:List[Ticket],searchCriteria:String,locations:List[Location],ticketStatuses:List[TicketStatus],siteAdmins:List[SiteAdmin],priorities:List[Priority])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Tickets</title>
</head>
<body>

<div class="container" align="center">
    @appnavbar.render("tickets")
    <div class="jumbotron">
        <h1>Ticket List</h1>
    </div>
    <form class="form-control" method="get">
        <input class="rounded" type="text" name="searchCriteria" value="@searchCriteria" placeholder="Search Any List Value" size="20">
        <input class="btn btn-primary" type="submit" value="Search">
        <div>
            <a href="/tickets">Clear Search</a>
            <br>
            <a href="newticket">Create New Ticket </a>
        </div>
    </form>

    <table class="table table-light">

        @for(i <- 0 to tickets.size()-1){
        @if(i==0 || !tickets.get(i).getSiteAdminId.equals(tickets.get(i-1).getSiteAdminId)){


        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th>Ticket#</th>
            <th>Date Modified</th>
            <th>Priority</th>
            <th>Name</th>
            <th>Assigned To</th>
            <th>Subject</th>
            <th>Location</th>
            <th>Status</th>
            <th>&nbsp;</th>
        </tr>
}

<tbody>
        <tr>
            <td>
                <div>
                    @tickets.get(i).getTicketsId()
                </div>
            </td>
            <td>
                <div>
                    @tickets.get(i).getStatusDateChanged()
                </div>
            </td>
            <td>
                <div>
                    @for(priority<-priorities){
                    @if(priority.getPriorityId==tickets.get(i).getPriorityId){
                    @priority.getPriorityName()
                    }
                    }
                </div>
            </td>
            <td>
                <div>
                    @tickets.get(i).getName()
                </div>
            </td>
            <td>
                <div>
                    @for(siteAdmin<-siteAdmins){
                    @if(siteAdmin.getSiteAdminId==tickets.get(i).getSiteAdminId){
                    @siteAdmin.getSiteAdminName()
                    }
                    }
                </div>
            </td>
            <td>
                <div>
                    @tickets.get(i).getSubjectTitle()
                </div>
            </td>
            <td>
                <div>
                    @for(location<-locations){
                    @if(location.getLocationId==tickets.get(i).getLocationId){
                    @location.getLocationName()
                    }
                    }


                </div>
            </td>
            <td>
                <div>
                    @for(ticketStatus<-ticketStatuses){
                    @if(ticketStatus.getStatusId==tickets.get(i).getStatusId){
                    @ticketStatus.getStatusName()
                    }
                    }
                </div>
            </td>
            <td>
                <a href="ticket/@tickets.get(i).getTicketsId()"> Details </a>
            </td>

        </tr>

</tbody>
}
    </table>
        <br>




</div>

</body>

</html>