@(ticketStatus:TicketStatus)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Status</title>
</head>
<body>

<div class="container" align="center">
    @appnavbar.render("admin")
    <div>
        <h1>@ticketStatus.getStatusName()</h1>
        <div align="right">
            <form method="post" action="/signout">
                @CSRF.formField
                <input  type="submit" value="Sign Out" >
            </form>
        </div>
        <br>
        <form method="post" class="form-control" align="center">
            @CSRF.formField
            <b> Status Name: </b><input class="rounded" type="text" name="statusName" id="statusName"
                                        value="@ticketStatus.getStatusName" minlength="1"
                                        maxlength="30" size="30">
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="save">
            <a class="btn btn-primary" href="/ticketStatuses">Back to List</a>
        </form>

    </div>
</div>
<br>
<hr>
<br>

<div class="container" align="center">
    <form action="/deletestatus/@ticketStatus.getStatusId" method="POST">
        @CSRF.formField
        <input class="btn btn-primary" type="submit" value="Delete">
    </form>
</div>
</body>
</html>