@(ticketStatuses:List[TicketStatus],searchCriteria:String)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Status List</title>
</head>
<body>


<div class="container" align="center">

    @appnavbar.render("admin")
    <div class="jumbotron">
    <h1><b>Status List</b></h1>
        <div align="right">
            <form method="post" action="/signout">
                @CSRF.formField
                <input id="firstbutton" type="submit" value="Sign Out" onclick="disablefirstbutton">
            </form>
        </div>
    </div>

    <form class="form-control" method="get">
        <input class="rounded" type="text" name="searchCriteria" value="@searchCriteria">
        <input class="btn btn-primary" type="submit" value="Search">
        <div align="left">
        <a class="btn btn-primary" href="newstatus">Create New </a>
        </div>
    </form>


    <table class="table table-bordered" >
        <tr>
            <th><b>Status Name</b></th>

        </tr>
        @for(ticketStatus <- ticketStatuses){
        <tr>
            <td>
                <div>
                    <b> @ticketStatus.getStatusName() </b>
                </div>
            </td>
            <td>
                <a class="btn btn-primary" href="ticketStatus/@ticketStatus.getStatusId()"> Edit </a>
            </td>

        </tr>
        }
    </table>

</div>

</body>
</html>