@(location:Location,regions:List[Region],message:String)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <title>Location Detail</title>
</head>
<body1>

<div class="container" align="center">
    @adminnavbar.render("admin")
    <div class="jumbotron">
        <h1>@location.getLocationName()</h1>
        <br>
    </div>
        <div align="center"><h3>@message</h3></div>
        <form method="post" class="form-control" >
            @CSRF.formField
            <b> Location Name: </b><input  class="rounded" type="text" name="locationName" id="locationName"
                                           value="@location.getLocationName" minlength="1"
                                           maxlength="30" size="30">
            <br>
            <br>
            <b> Current Region:</b><br>
            <label>
                @for(region<-regions){
                @if(location.getRegionId == region.getRegionId){
                @region.getRegionName() }}
            </label>
            <br>
            <br>
            <b>Edit Region: </b>
            <select class="rounded" name="regionId" id="regionId">
                <option value="@location.getRegionId">Choose Region</option>
                @for(region<-regions){
                <option  value="@region.getRegionId">
                    @region.getRegionName
                </option>
                }

            </select>
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="save">
            <a class="btn btn-primary" href="/locations">Back to List</a>
        </form>

</div>
        <br>
        <hr>
        <br>

        <div class="container" align="center">
        <form action="/deletelocation/@location.getLocationId" method="POST">
            @CSRF.formField
            <input class="btn btn-danger"  type="submit" value="Delete">
        </form>
        </div>
</body1>
@footer()
</html>