@(location:Location,regions:List[Region])
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Location Detail</title>
</head>
<body>

<div class="container" align="center">
    <div>
        <h1>@location.getLocationName()</h1>
        <br>
        <form method="post" class="form-control" align="center">
            @CSRF.formField
            <b> Location Name: </b><input  class="rounded" type="text" name="locationName" id="locationName"
                                           value="@location.getLocationName" minlength="1"
                                           maxlength="30" size="30">
            <br>
            <br>
            <b>Region Name: </b>
            <select class="rounded" name="regionId" id="regionId">
                @for(region<-regions){

                <option  value="@region.getRegionId">
                    @region.getRegionName
                </option>
                }

            </select>
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="save">
add back to list link
        </form>
    </div>
</div>
</body>
</html>