@(regions:List[Region])
<!DOCTYPE html>
<html lang="en">
@import helper._
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>New Location</title>
</head>
<body>
<div class="container" align="center">
    @adminnavbar.render("admin")
    <div class="jumbotron">
    <h1>Create New Location</h1>
        <div align="right">
            <form method="post" action="/signout">
                @CSRF.formField
                <input  type="submit" value="Sign Out" class="btn btn-danger">
            </form>
        </div>
    </div>
    put each in a div align center?
    <form method="post" class="form-control">
        @CSRF.formField
        <b> Location Name: </b><input class="rounded" type="text" name="locationName"
                                           id="locationName" maxlength="30" size="30">
        <select class="rounded" name="regionId" id="regionId">
            <option selected="selected" >Choose Region</option>
            @for(region<-regions){

            <option  value="@region.getRegionId">
                @region.getRegionName
            </option>
            }

        </select>
        <input align="center" class="btn btn-primary" type="submit" value="Create">
        <a class="btn btn-primary" href="/locations">Back to List</a>
    </form>
</div>
@footer()
</body>
</html>