@(regions:List[Region])
<!DOCTYPE html>
<html lang="en">
@import helper._
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>New Location</title>
</head>
<body>
<div class="container" align="center">
    <form method="post" class="form-control">
        @CSRF.formField
        <b> Enter New Location: </b><input class="rounded" type="text" name="locationName"
                                           id="locationName" maxlength="30" size="30">
        <select class="rounded" name="regionId" id="regionId">
            <option selected="selected" >Choose Region</option>
            @for(region<-regions){

            <option  value="@region.getRegionId">
                @region.getRegionName
            </option>
            }

        </select>
        <input align="center" class="btn btn-primary" type="submit" value="Create">
    </form>
</div>
</body>
</html>