@(inventories:Collection[Inventory],searchCriteria:String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
</head>
<body>
<h1>Inventory List</h1>
<table>
    <tr>
        <th>Computer Name</th>

    </tr>
    @for(inventory <- inventories){
    <tr>
        <td>
            <div>
                <a href="inventory/@inventory.getInventoryId()"><b>@inventory.getComputerName()</b></a>
            </div>
        </td>
        <td>
            createlinkedit
        </td>
        <td>
            createlinkdetails
        </td>
    </tr>
    }
</table>
</body>
</html>