@(inventories:List[Inventory],searchCriteria:String,location:Location)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Inventory</title>
</head>
<body>
@appnavbar.render("inventory")
<div class="container" align="center">
    <div class="jumbotron">
        <h1>Inventory List</h1>
    </div>
    <form class="form-control" method="get">
        <input class="rounded" type="text" name="searchCriteria" value="@searchCriteria" placeholder="Search Any List Value" size="20">
        <input class="btn btn-primary" type="submit" value="Search">
        <div>
            <a href="/inventories">Clear Search</a>
            <br>
            <a href="newinventory">Create New Inventory Item</a>
        </div>
    </form>
    <table class="table table-bordered">
        <tr>
            <th>Computer Name</th>
            <th>Asset Tag #</th>
            <th>Current User</th>
            <th>Building Location</th>
            <th>City-Location</th>

        </tr>
        @for(inventory <- inventories){
        <tr>
            <td>
                <div>
                    @inventory.getComputerName()
                </div>
            </td>
            <td>
                <div>
                    @inventory.getAssetTagNumber()
                </div>
            </td>
            <td>
                <div>
                    @inventory.getCurrentUser()
                </div>
            </td>
            <td>
                <div>
                    @inventory.getBuildingLocation()
                </div>
            </td>
            <td>
                <div>
                    @if(location.getLocationId==inventory.getLocationId){
                    @location.getLocationName()
                    }else{
                    <span>Location Not Available</span>
                    }
                </div>
            </td>
            <td>
                <a> Details </a>
            </td>
            <td>
                <a href="inventory/@inventory.getInventoryId()"> Edit </a>
            </td>

        </tr>
        }
    </table>

</div>
</body>
</html>