@(inventory:Inventory,locations:List[Location],message:String)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <title>Inventory Detail</title>
</head>
<body>

<div class="container" align="center">
    @adminnavbar.render("inventory")
    <div class="jumbotron">
        <h1>@inventory.getComputerName</h1>
    </div>

    <br>
    <form method="post" class="form-control">
        @CSRF.formField
        @message
        <br>
        <div class="row">
            <div class="col-md-6">
                <b>* Computer Name: </b><br>
                <input class="rounded" type="text" name="computerName" id="computerName"
                                              value="@inventory.getComputerName" minlength="1"
                                              maxlength="30" size="30">
            </div>
            <div class="col-md-6">
                <b>* Asset Tag Number: </b><br>
                <input class="rounded" type="text" name="assetTagNumber" id="assetTagNumber"
                                                 value="@inventory.getAssetTagNumber" minlength="1"
                                                 maxlength="30" size="30">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <b>* Current User Name: </b><br>
                <input class="rounded" type="text" name="currentUser" id="currentUser"
                                                  value="@inventory.getCurrentUser" minlength="1"
                                                  maxlength="30" size="30">
            </div>
            <div class="col-md-6">
                <b>* Building Location: </b><br>
                <input class="rounded" type="text" name="buildingLocation"
                                                  id="buildingLocation"
                                                  value="@inventory.getBuildingLocation" minlength="1"
                                                  maxlength="30" size="30">
            </div>
        </div>

        <br>
        <div>
            <div>
                <b>* Current City Location:</b><br>
                <select name="locationId" id="locationId">
                    @for(location<-locations){
                    @if(location.getLocationId==inventory.getLocationId){
                    <option selected="selected" value="@location.getLocationId">
                        @location.getLocationName
                    </option>
                    }else{

                    <option value="@location.getLocationId">
                        @location.getLocationName
                    </option>
                    }
                    }
                </select>
            </div>

        </div>
        <br>
        <div>
            <input class="btn btn-primary" type="submit" value="Save">
            <a class="btn btn-primary" href="/inventories">Back to List</a>
        </div>
    </form>

</div>

<br>
<hr>
<br>

<div class="container" align="center">
    <form action="/deleteinventory/@inventory.getInventoryId" method="POST">
        @CSRF.formField
        <input class="btn btn-danger" type="submit" value="Delete">
    </form>
</div>
@footer()
</body>

</html>