@(regions:List[Region],locations:List[Location],message:String)
<!DOCTYPE html>
<html lang="en">
@import helper._
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <title>New Inventory Item</title>
</head>
<body>

<div class="container" align="center">
    @adminnavbar.render("inventory")
    <div class="jumbotron">
        <h1>Create New Inventory</h1>
        <div align="right">
            <form method="post" action="/signout">
                @CSRF.formField
                <input  type="submit" value="Sign Out" class="btn btn-danger">
            </form>
        </div>
    </div>


    <form method="post" class="form-control">
        @CSRF.formField
        @message<br>
        <div class="container" align="center">
            <br>
            <div class="row" align="center">
                <div class="col-md-6">
                    <b>* Computer Name: </b><br>
                    <input class="rounded" type="text" name="computerName"
                                                 id="computerName" maxlength="30" size="30">
                </div>
                <br>
                <div class="col-md-6">
                    <b>* AssetTag Number: </b><br>
                    <input class="rounded" type="text" name="assetTag"
                                                   id="assetTag" maxlength="30" size="30">
                </div>
            </div>
            <br>
            <div class="row" align="center">
                <div class="col-md-6">
                    <b>* Current Username: </b><br>
                    <input class="rounded" type="text" name="currentUser"
                                                    id="currentUser" maxlength="30" size="30">
                </div>

                <div class="col-md-6">
                    <b>* Building Location: </b><br>
                    <input class="rounded" type="text" name="buildingLocation"
                                                     id="buildingLocation" maxlength="30" size="30">
                </div>

            </div>
            <br>
            <div class="container" align="center">


                <b>* Location: </b><br>
                <select class="rounded" name="locationId" id="locationId">
                    <option value="0">Choose Location</option>
                    @for(location <- locations){

                    <option value="@location.getLocationId">
                        @location.getLocationName
                    </option>
                    }
                </select>
            </div>
        </div>
        <br>
        <br>
        <input align="center" class="btn btn-primary" type="submit" value="Create">
        <a class="btn btn-primary" href="/inventories">Back to List</a>
    </form>

</div>
@footer()
</body>
</html>