@(locations:List[Location],ticketStatuses:List[TicketStatus],siteAdmins:List[SiteAdmin],priorities:List[Priority],categories:List[Category],regions:List[Region],ticketFormValues:TicketFormValues,message:String,firstload:Boolean)
<!DOCTYPE html>
<html lang="en">
@import helper._
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <title>New Ticket</title>
</head>
<body>
<div class="container" align="center">
    @appnavbar.render("tickets")
    <div class="jumbotron">
        <h1>Create New Ticket</h1>
    </div>
    <form class="form-control" method="post" enctype="multipart/form-data">
        @if(!firstload){
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                @ticketFormValues.getMessages()
            </div>
            <div class="col-1"></div>
        </div>

        }else{
        @message
        }
        <br>
        @CSRF.formField
        <br>
        <div class="row">
            <div class="col-md-6">
                <b>* User's Name: </b><br>
                <input class="rounded" type="text" name="name" id="name" maxlength="30" value="@ticketFormValues.getTicketName">
            </div>
            <div class="col-md-6">
                <b> Asset Tag Number: </b><br>
                <input class="rounded" type="text" name="assetTagNumber" id="assetTagNumber" maxlength="10" value="@ticketFormValues.getTicketAssetTagNumber">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <b>* Phone Number: </b><br>
                <input class="rounded" type="text" pattern="[0-9]{10}" name="phoneNumber" id="phoneNumber" maxlength="10" placeholder="example 5015551214" value="@ticketFormValues.getTicketPhoneNumber">
            </div>
            <div class="col-md-6">
                <b>* Email Address: </b><br>
                <input class="rounded" type="text" pattern="[^@@]+@@[^@@]+\.[a-zA-Z]{2,}"  name="emailAddress" id="emailAddress" maxlength="30" placeholder="someone@@example.com" value="@ticketFormValues.getTicketEmailAddress">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <b> Computer Name: </b><br>
                <input class="rounded" type="text" name="computerName" id="computerName" maxlength="15" value="@ticketFormValues.getTicketComputerName">
            </div>
            <div class="col-md-6">
                <b>* Category: </b><br>
                <select class="rounded" name="categoryId" id="categoryId">
                    <option value="0">Choose Category</option>
                    @for(category<-categories){

                    <option value="@category.getCategoryId">
                        @category.getCategoryName
                    </option>
                    }

                </select>

            </div>


        </div>

        <br>
        <div class="row">
            <div class="col-md-6">
                <b>* Current Location: </b><br>
                <select class="rounded" name="locationId" id="locationId">
                    <option value="0">Choose Location</option>
                    @for(location<-locations){

                    <option value="@location.getLocationId">
                        @location.getLocationName
                    </option>
                    }

                </select>

            </div>

            <div class="col-md-6">
                <b>* Priority: </b><br>
                <select class="rounded" name="priorityId" id="priorityId">
                    <option value="0">Choose Priority</option>
                    @for(priority<-priorities){

                    <option value="@priority.getPriorityId">
                        @priority.getPriorityName
                    </option>
                    }

                </select>

            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-6" hidden="hidden">
                <b> Assigned To: </b><br>
                <select class="rounded" name="siteAdminId" id="siteAdminId">
                    <option value="14">Unassigned</option>


                </select>
            </div>
            <div class="col-md-6" hidden="hidden">
                <b> Status: </b><br>
                <select class="rounded" name="statusId" id="statusId">
                    <option value="4">New Ticket</option>


                </select>
            </div>

        </div>

        <br>

        <br>
        <div class="container">
            <b>* Subject: </b><br>
            <input class="rounded" type="text" name="subjectTitle" id="subject" maxlength="30" size="30" value="@ticketFormValues.getTicketSubjectTitle">
        </div>
        <br>
        <div>
            <label><b>* Description:</b></label>
            <br>
            <textarea class="rounded" type="text" name="description" cols="100" rows="10" id="description"
                      maxlength="255">@ticketFormValues.getTicketDescription</textarea>
            <br>
            <label>255 Characters Allowed</label>
            <br>
            <br>
            <input class="rounded" type="file" multiple="multiple" name="file1">
            <input class="rounded" type="file" multiple="multiple" name="file2">
            <input class="rounded" type="file" multiple="multiple" name="file3">

        </div>
        <br>
        <div>
            <input class="btn btn-primary" type="submit" value="Submit Ticket">
        </div>
        <br>
        <br>
    </form>
</div>
@footer()
</body>
</html>