@(page : String)
<div class="navbar navbar-inverse navbar-fixed-top" align="center">
    <div class="container" >
        <div class="navbar-header" >
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"> <a class="navbar-brand" href="/">Home</a></span>
                <span class="icon-bar"><a class="navbar-brand" href="/categories">Category</a></span>
                <span class="icon-bar"><a class="navbar-brand" href="/admin">Administration</a></span>
                <span class="icon-bar"><a class="navbar-brand" href="/inventories">Inventory</a></span>
                <span class="icon-bar"><a class="navbar-brand" href="/priorities">Priority</a></span>
                <span class="icon-bar"><a class="navbar-brand" href="/siteadmins">Site Admins</a></span>
                <span class="icon-bar"><a class="navbar-brand" href="/tickets">Tickets</a></span>
                <span class="icon-bar"><a class="navbar-brand" href="/statuses">Status</a></span>
                <span class="icon-bar"><a class="navbar-brand" href="/reports">Reports</a></span>
            </button>
        </div>
    </div>
</div>