@(page : String)
@import helper._
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">

        <li class="nav-item active">
            @if("/".equals(page)){
        <li class="nav-item active">
            }else{
        <li class="nav-item">
            }
            <a class="nav-link" href="/"><b>Home</b></a>
        </li>

        <li class="nav-item active">
            @if("/about".equals(page)){
        <li class="nav-item active">
            }else{
        <li class="nav-item">
            }
            <a class="nav-link" href="/about"><b>About</b></a>
        </li>

        <li class="nav-item active">
            @if("/contact".equals(page)){
        <li class="nav-item active">
            }else{
        <li class="nav-item">
            }
            <a class="nav-link" href="/contact"><b>Contact</b></a>
        </li>

        <li class="nav-item">
            @if("admin".equals(page)){
        <li class="nav-item active">
            }else{
        <li class="nav-item">
            }
            <a class="nav-link" href="/admin"><b>Administration</b></a>
        </li>

        <li class="nav-item active">
            @if("tickets".equals(page)){
        <li class="nav-item active">
            }else{
        <li class="nav-item">
            }
            <a class="nav-link" href="/tickets"><b>Tickets</b></a>
        </li>

        <li class="nav-item active">
            @if("inventory".equals(page)){
        <li class="nav-item active">
            }else{
        <li class="nav-item">
            }
            <a class="nav-link" href="/inventories"><b>Inventory</b></a>
        </li>

        <li class="nav-item active">
            @if("reports".equals(page)){
        <li class="nav-item active">
            }else{
        <li class="nav-item">
            }
            <a class="nav-link" href="/reports"><b>Reports</b></a>
        </li>

        <li class="nav-item active">
            @if("login".equals(page)){
        <li class="nav-item active">
            }else{
        <li class="nav-item">
            }
            <a class="nav-link" href="/login"><b>Login</b></a>
        </li>
    </ul>
</nav>
