@(page : String)
<div>
    <div class="container" align="center">
        <div>
            <ul class="navbar navbar-fixed-top navbar-header" >
                <li ><a class="navbar-brand" href="/">Home</a></li>
                <li ><a class="navbar-brand" href="/admin">Administration</a></li>
                <li ><a class="navbar-brand" href="/tickets">Tickets</a></li>
                <li ><a class="navbar-brand" href="/inventories">Inventory</a></li>
                <li ><a class="navbar-brand" href="/reports">Reports</a></li>
            </ul>
        </div>
    </div>
</div>