@(locations:Collection[Location])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locations</title>
</head>
<body>
<h1>Locations</h1>
<table>
    <tr>
        <th>Location City</th>

    </tr>
    @for(location <- locations){
    <tr>
        <td>
            <div>
                <a href="location/@location.getLocationsId()"><b>@location.getLocationsName()</b></a>
            </div>
        </td>
        <td>
            createlinkedit
        </td>
        <td>
            createlinkdetails
        </td>
    </tr>
    }
</table>
</body>
</html>